<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> {{!Pone la navegación de color oscuro}}
  <div class="container"> {{!Deja los enlaces superiores centrados}}
    <a class="navbar-brand" href="/links">Personajes (Idea de nombre)</a> {{!Nombre del enlace principal superior (Redirecciona a "/links")}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> {{!Corre los enlaces superiores a la derecha}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Estadísticas (Idea de Nombre) {{!Nombre del scroll}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">All links</a> {{!Pone en el botón "All links" del scroll los links desde la ruta /links}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add a link</a> {{!En el botón "Add a link" redirecciona a la ruta "/links/add"}}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Leaderboard</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>