{{!Archivo para registrarse}}

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center"> {{!Coloca el texto en el centro}}
                <div class="card-header"> {{!Cabecera}}
                    <h3>SignUp</h3> {{!Título del Sign Up}}
                </div>
                <div class="card-body"> {{!Se define el formulario aquí}}
                    <form action="/signup" method="POST"> {{!Enviará los datos a la ruta "/signup" por el método POST}}
                        <div class="form-group"> {{!Se hacen campos para llenar los datos en un "form-group". En este caso para el nombre}}
                            <input type="text" name="fullname" placeholder="Full Name" class="form-control" autofocus>
                        </div>
                        <div class="form-group"> {{!Campo para el username}}
                            <input type="text" name="username" placeholder="Username" class="form-control"> 
                        </div>
                        <div class="form-group"> {{!Campo para la password}}
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                SignUp
                            </button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>