{{!Formulario con los datos}}
<div class="container p-4">
    <div class="r"> {{!-- Fila --}}
        <div class="col-md-4 mx-auto"> {{!-- Columna de 4 --}}
            <div class="card"> {{!-- Se crea una tarjeta --}}
                <div class="card-body"> {{!-- Cuerpo de la tarjeta --}}
                    <form action="/links/add" method="POST"> {{!-- Formulario --}}
                        <div class="form-group"> {{!-- Estilo de bootstrap para separar campos --}}
                            <input type="text" class="form-control" name= "title" placeholder= "Title" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="url" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> {{!-- Botón verde y que ocupe todo el ancho disponible--}}
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>