<h1>
    <center>Capacidad de los torneos</center>
</h1>
<center>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Torneos</th>
                        <th>Capacidad (personas)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tour}}
                        <tr>
                            <td>{{nombre}}   </td>
                            <td>{{capacidad}}     </td>
                        </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
    </div>
</div>
</center>