
<h1>
    <center>Consultas </center>
</h1>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr><td><a href="/leader_board">1.- Tabla de posiciones</a></td></tr>
                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>
                    <tr><td> <a href="/pj">3.- Personajes</a></td></tr>
                                        <tr><td> <a href="/pj/pop">4.- Popularidad personajes</a></td></tr>

                    <tr><td> <a href="/captour">5.- Proximos torneos</a></td></tr>

                    <tr><td> <a href="/pj/mineq">6.- Equipo m치s peque침o</a></td></tr>

                    <tr><td> <a href="/pj/jsneq">7.- Jugadores sin equipo </a></td></tr>

                    <tr><td> <a href="/tournament/info/1">8.- Informaci칩n del torneo 1 </a></td></tr>

                    <tr><td> <a href="/tournament/info/info/1">9.- Informaci칩n de la partida 1 del torneo 1</a></td></tr>

                    <tr><td> <a href="/tournament">10.- </a></td></tr>

                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>

                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>

                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>

                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>



                </tbody>
            </table>
        </div>
    </div>
</div>