
<h1>
    <center>Consultas </center>
</h1>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr><td><a href="/leader_board">1.- Tabla de posiciones</a></td></tr>
                    <tr><td> <a href="/tournament">2.- Torneos</a></td></tr>
                    <tr><td> <a href="/pj">3.- Personajes</a></td></tr>
                                        <tr><td> <a href="/pj/poppj">4.- Popularidad personajes</a></td></tr>

                    <tr><td> <a href="/pj/captour">5.- Capacidad de los torneos</a></td></tr>

                    <tr><td> <a href="/pj/mineq">6.- Equipo más pequeño</a></td></tr>

                    <tr><td> <a href="/pj/jsneq">7.- Jugadores sin equipo </a></td></tr>

                    <tr><td> <a href="/tournament/info/1">8.- Información del torneo 1 </a></td></tr>

                    <tr><td> <a href="/tournament/info/info/1">9.- Información de la partida 1 del torneo 1</a></td></tr>

                    <tr><td> <a href="/pj/nextour">10.- Siguientes torneos </a></td></tr>

                    <tr><td> <a href="/pj/userorg">11.- Personas que organizan torneos </a></td></tr>

                    <tr><td> <a href="/pj/mapaspop">12.- Mapas más populares</a></td></tr>

                    <tr><td> <a href="/pj/pagan">13.- Países que han ganado torneos</a></td></tr>

                    <tr><td> <a href="/pj/topplay">14.- Jugadores con puestos destacados</a></td></tr>
                    <tr><td> <a href="/pj/caploc">15.- Local con mayor capacidad </a></td></tr>
                    <tr><td> <a href="/pj/maypais">16.- País con más jugadores </a></td></tr>
                    <tr><td> <a href="/pj/mrondas">17.- Número de rondas máximo</a></td></tr>
                    <tr><td> <a href="/pj/malpha">18.- Miembros del equipo Alpha</a></td></tr>
                    <tr><td> <a href="/pj/npdream2019">19.- Número participantes del Dream Hack 2019</a></td></tr>
                    <tr><td> <a href="/pj/toppj">20.- Personajes más jugados</a></td></tr>
                    <tr><td> <a href="/pj/parjug">21.- Partidas jugadas</a></td></tr>
                    <tr><td> <a href="/pj/jppais">22.- Usuarios ordenados por país</a></td></tr>
                    <tr><td> <a href="/pj/pjnn">23.- Personajes jugados por NN</a></td></tr>
                    <tr><td> <a href="/pj/ordh2019">24.- Organizador del Dream Hack 2019</a></td></tr>
                    <tr><td> <a href="/pj/intor">25.- Información de los torneos</a></td></tr>



                </tbody>
            </table>
        </div>
    </div>
</div>