<div class="container -4">
    <div class="row mt-5">
        <div class="col-md-7">
            aca irá el leader board
            <div class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </div>

        </div>
        <div class="col-md-5">
            qeqweqweqweqeqwewqe
        </div>
    </div>
</div>