<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Capacidad</th>
                    </tr>
                </thead>
                

                <tbody>
                    {{#each locales}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{nombre}}</td>
                            <td>{{direccion}}</td>

                            <td>{{capacidad}}</td>


                        </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
                <div class="col-md-5">
            <div class="card">
                <div class="card-body" data-target="#id_torneo">
                    <form action="/tournament/locals" method="post" onsumit="return Validator()">
                 <div class="form-group"><input type="text" name="nombre" placeholder="Nombre" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                 <div class="form-group"><input type="text" name="direccion" placeholder="Dirección" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                 <div class="form-group"><input type="number" name="capacidad" placeholder="Capacidad" class="form-group"></div>
                                <div id="name_error" class="val_error"></div>
                <button type="submit" class="btn btn-primary">
                    Agregar Local
                </button>
            </form> 
                </div>
            </div>


        </div>
        
    </div>
</div>
