<h1>
    <center>País con mas jugadores</center>
</h1>
<center>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Número de jugadores</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pj}}
                        <tr>
                            <td>{{pais}}   </td>
                            <td>{{contarp}}     </td>
                        </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
    </div>
</div>
</center>
