<h1>
    <center>Numero de participantes Dream Hack 2019</center>
</h1>
<center>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>torneos</th>
                        <th>numero de jugadores</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each pj}}
                        <tr>
                            <td>{{nombre}}   </td>
                            <td>{{c}}     </td>
                        </tr>
                    {{/each}}

                </tbody>

            </table>
        </div>
    </div>
</div>
</center>
