<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Torneo de Super Smash Bros Ultimate</h1>
            <a href="/index" class="btn btn-primary">
                Consulta las estadísticas!
            </a>
        </div>
    </header>

</main>