
<h1>
    <center>Torneos Smash Ultimate</center>
</h1>
<form action="/tournament" method="post">
    <div class="form-group">
        <input type="date" name="fecha" placeholder="Fecha" class="form-group">
    </div>
</form>